
body{
/*background-image: url(img/gaussian-wallpaper.jpg);*/
background-image: url(img/glass-wallpaper.jpg);

}


ul{
    list-style-type:none;
}

.pic{
    display: inline-block;
    height: 300px;
    margin: 10px;
    border:2px soild black;
}

div.center{
    margin:auto;
    width:100%;
}


button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   padding: 12.5px 25px;
   border-radius: 40px;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


p,section,h2{
  text-align: center;
}

////////////


